<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav>
    <div class="brand">Disease Predictor</div>
    <a href="index.html">Home</a>
    <a href="#">Skin Disease 1</a>
    <a href="#">Skin Disease 2</a>
    <a href="#">Skin Disease 3</a>
    <a href="melanoma.html">Melanoma</a>
  </nav>

  <div class="full-page">
    <div class="upper">
      <img id="img12" src="skin.webp">
      <div id="text">
        <h1>Disease Predictor</h1>
      </div>
    </div>
    <div class="lower">
      <div class="lower-left">
        <div id="box">
          <h1>Melanoma</h1>
          <p>
            Melanoma is a dangerous form of skin cancer that starts in melanocytes, the cells that produce skin pigment.
            It often appears as a mole or dark spot and can spread to other parts of the body if not caught early.
            Treatment usually involves surgery and may include other therapies like chemotherapy or immunotherapy.
            Prevention includes sun protection and regular skin checks</p>
        </div>
      </div>
      <div class="lower-right">
        <div id="box">
          <h1>Skin Disease 2</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil commodi magni temporibus aspernatur
            doloribus sed earum quam iusto architecto, adipisci sint porro quaerat. Placeat sint deserunt quidem quam
            natus modi.
            Perferendis, laboriosam velit. Impedit ad non assumenda, ratione dolores quo praesentium autem ducimus
            magni, quas natus architecto explicabo ipsam, iure fugit eveniet alias expedita in? Perferendis adipisci
            impedit nobis quas.</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2024 Your Website. All rights reserved.</p>
  </footer>
</body>

</html>